/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea
composer.lock
logs
scripts/.composer/
var/cache/
var/sessions/
app/var/cache
app/var/sessions
.composer/
.composer
.composer/*
.ssh/
app/vendor
app/composer.lock
app/web/build/*
npm-debug.log*

app/web/build/manifest.json

solr/user/data
solr/employee/data
solr/ex/